.chat-main
  .header
    .header__group
      %h2.header__group__name
        = @group.name
      %ul.header__group__member
        Member: 
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group) do
      .edit-btn
        Edit
  .message-list
    = render @messages
  .form
    .message-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class:'message-box__text', placeholder: 'type a message'
        = f.label :image, class:'image' do
          %i.fas.fa-images
          = f.file_field :image, class:'image__choice'
          = f.submit 'Send', class:'send-btn'